body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*David*/
.columna {
  float: left;
  margin-top: 73px;
  width: 75%;
  padding: 5px;
}

.columnb {
  float: left;
  margin-top: 73px;
  width: 25%;
  padding: 5px;
}

span.a {
  font-size: 50px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
}

span.b {
  float: left;
  margin-top: 40px;
  margin-left: 10px;
  font-weight: bold;
}

span.c {
  float: right;
  margin-top: 40px;
  margin-right: 10px;
  font-weight: bold;
}

img.a {
  max-width: 200px;
  max-height: 200px;
}

img.b {
  max-width: 1050px;
  max-height: 1050px;
}

img.c {
  max-width: 350px;
  max-height: 350px;
  padding: 5px;
}
/*David*/

/* Zach */
.search-body {
  margin: auto;
  max-width: 50em;
}

.search-items {
  margin: 1em 3em;
  text-align: left;
}

.list-group-item:hover {
  text-decoration: none;
  color: #777;
}

.list-group-item {
  color: #333;
}

.media-body {
  text-align: left;
}

.media-left {
  width: 100px;
  margin-right: 1em;
}

.search-image {
  max-width: 100%;
  object-fit: cover;
  min-height: 100px;
}

.search-header {
  height: 5em;
}

.search-item-body {
  margin-bottom: 0.5em;
}

.search-field {
  display: flex;
  margin-left: 1em;
}

/* Zach */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
