<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
  <link rel="manifest" href="./manifest.json" />
  <!-- TODO: prod bundles -->
  <!-- <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script> -->
  <script src="https://unpkg.com/react@16/umd/react.development.js"
          crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
          crossorigin></script>
  <script src="https://unpkg.com/react-transition-group@4/dist/react-transition-group.min.js"
          crossorigin></script>
  <script src="https://unpkg.com/reactstrap@8/dist/reactstrap.min.js"
          crossorigin></script>
  <!-- Latest Bootstrap compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">

  <meta id="flask-data"
        name="flask-data"
        content="variables to be read by javascript"
        data-json="{{ json }}" />

  <!-- NOTE: global css defined here -->
  <style type="text/css">
    {% include 'global.css' %}
  </style>

  <!-- optional individual page styles defined in each folder -->
  <link rel="stylesheet" href="index.css">

  <title>PHOTOSLAYERS</title>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
	-->

  <script src="../photographer.js"></script>
</body>

</html>
